/*Mobile first*/
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@450&family=Noto+Sans+JP:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200&display=swap');

h1,
h2,
h3,
h4 {
    color: #646363;
    /*    font-family*/

    /*    font-weight*/
    margin: 2.75rem 0 1.05rem;
    line-height: 1.2;
}

/*Set a unique style to a specific tag element*/
h1 {

    color: #7c7b7b;
    margin-top: 30;
    font-size: 4.5rem;
    font-weight: 400;
}

h2 {

    font-size: 1.333rem;
    font-weight: 300;
}

h3 {
    color: #7c7b7b;
    font-size: 3.369rem;
    font-weight: 400;
}



h4 {

    font-size: 1.111rem;
    font-weight: 200;
    margin-bottom: 30px;
}


p {
    font-size: 1.111rem;
    font-weight: 200;
    margin-bottom: 1.3rem;
}

html {
    /*    1rem = 16px*/
    font-size: 16px;
}

.head {
    display: none;
}

#header,
.menu {
    background-color: rgba(255, 255, 255, 0.733);
}

header {
    position: sticky;
    top: 0;
}

.bg-light {
    background-color: rgba(255, 255, 255, 0.664) !important;
}

/* Skip to content link */
.skip-link {
    color: black;
    left: 50%;
    padding: 4px;
    position: absolute;
    transform: translateY(-100%);
}

.skip-link:focus {
    transform: translateY(0%);
}

.skip-link {
    /* Same as  before */
    transition: transform 0.3s;
}

.nav-link,
.navbar-brand {
    font-size: 1 rem;
    /*use important to override the system value*/
    color: #646363 !important;
}

.nav-link:hover,
.navbar-brand:hover {
    color: #B1A2C5 !important;
}

/* active link */
.nav-link.active {
    text-decoration: underline;
    text-underline-position: under;
}

body {
    background-color: white;
    /*    font-family*/

    font-weight: 300;
    font-size: 1rem;
    /*    line-height is 150% of the font size*/
    line-height: 1.6;
    color: #707070;
}





/*Interactive elements*/

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 0%;
    width: 100%;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.769);
    /* Black fallback color */
    background-image: url("../img/background/circlesmall.png");
    background-repeat: no-repeat;
    background-position: center top;
    overflow-x: hidden;
    transition: 0.5s;
    /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}



/* Animation styles*/

.animated {
    animation-duration: 2s;
}

@keyframes vanishIn {
    0% {
        opacity: 0;
        transform-origin: 50% 50%;
        transform: scale(2, 2);
        -webkit-filter: blur(30px);
    }

    100% {
        opacity: 1;
        transform-origin: 50% 50%;
        transform: scale(1, 1);
        -webkit-filter: blur(0px);
    }
}

.vanishIn {
    animation-name: vanishIn;
}

.animatedlogo {
    animation-duration: 1.5s;
}

@keyframes rollIn {
    0% {
        opacity: 0;
        transform: translateX(-100%) rotate(-120deg);
    }

    100% {
        opacity: 1;
        transform: translateX(0px) rotate(0deg);
    }
}

.rollIn {
    animation-name: rollIn;
}


/* contact page link */

.page-link {
    color: #171717;
    margin-top: 30px;
    margin-bottom: 20px;
}

.page-link:hover {
    color: #171717;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: white;
    color: #646363;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #171717;
}

/* link*/

a {
    color: #646363;
}

a:hover {
    color: #B1A2C5;
    /*    text-decoration: none;*/
}

/*button style*/
/*solid button style*/
.btn-primary {
    font-size: 1rem;
    letter-spacing: .1rem;
    line-height: 1.5;
    border-radius: 200px;
    padding: 12px 32px;
    background-color: transparent;
    color: #646363;
    border: 1px #646363 solid;
    margin-top: 10px;
    transition: all 0.5s;

}

.btn-primary:hover {
    color: white;
    background-color: #646363;
    opacity: 0.8;
}

/*outline button style*/
.btn-outline-primary {
    font-size: 1rem;
    letter-spacing: .1rem;
    line-height: 1.375rem;
    /*    border-radius*/
    padding: 12px 36px;
    color: #646363;
    background-color: transparent;
    border: 1px #646363 solid;
    transition: all 0.5s;
    margin-top: 100px;
}

.btn-outline-primary:hover {
    color: white;
    background-color: #646363;
    border-color: #646363;
}


.widthview {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.view {

    padding: 8rem 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.confined {
    padding: 5rem 3rem;

}

.fixed {
    position: fixed;
}

.background1 {
    background-image: url("../img/background/circlesmall.png");
    background-repeat: no-repeat;
    background-position: center top;
}

.background2 {
    background-image: url("../img/background/2circlepng.png");

    background-repeat: repeat-x;
    background-size: cover;
}

.textright {
    text-align: right;
}

.paddingtop {
    padding-top: 5rem;
}

.homeImg {
    width: auto;
    height: auto;
    display: inline;
}

/*home page*/
.contact {
    padding: 3rem 0;
    margin-top: 100px;
    background-color: rgba(255, 255, 255, 0.62);
}

.aboutBackground {
    padding: 2rem 0;
    background-color: rgba(255, 255, 255, 0.623);
}


.space {
    margin-bottom: 15px;
}

.spacebottom {
    padding-bottom: 3em;
}

/*about page*/

.aboutpage p {
    margin: 2.75rem 0 1.05rem;
    line-height: 1.2;
    font-size: 1.111rem;
    font-weight: 200;
    margin-bottom: 30px;
}




/*gallery page*/
.lg-outer h3 {
    color: #333;
    margin-top: 1rem;

}


footer {
    position: relative;
    /*   bottom:0; */
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgba(255, 255, 255, 0.528);
    color: #646363;
    text-align: center;
}

/*social media icons*/
footer a.social {
    display: inline-block;
    padding: 0 0.4rem;
    color: #646363;
    font-size: 0.8 rem;
    transition: all ease 0.5s;
}

footer a.social:hover {
    color: rgba(255, 254, 254, 0.498);
}

/* Layout */
/* Flex Homepage */

.aboutDisplay {
    display: grid;
    justify-items: center;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

/* Grid homepage */
.index_featured {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 15px;
    grid-column-gap: 10px;
    justify-content: center;
    justify-items: center;
}

.index_featured>img:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1/3;
}

.index_featured>img:nth-child(3) {
    grid-row: 2/4;
}

.index_featured>img:nth-child(4) {
    grid-row: 3;
}

.index_featured>img:nth-child(5) {
    grid-row: 3;
}

.index_featured>img:nth-child(7) {
    grid-column: 2/-1;
}

/* Flex About Page*/
.aboutContent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.aboutpadding {
    padding-right: 40px;
    padding-left: 40px;
}

.aboutp {
    display: flex;
    justify-items: flex-start;
    text-align: left;
}

/* Flex Gallery Categories */
.galleryCategory {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    padding: 2rem;
}

/* Grid Gallery */

.titlegallery h3 {
    font-size: 32px;
}

.grid2d {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 15px;
    grid-column-gap: 10px;
    justify-content: center;
    justify-items: center;
}

.grid2d img {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: inline;
}

.g2d1 {
    grid-column: 1/-1;
    justify-content: center;
}

.g2d5 {
    grid-column: 1/-1;
}

.g2d9 {
    grid-column: 1/-1;
}


.grid3d {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 15px;
    grid-column-gap: 10px;
    justify-content: center;
}

.grid3d img {
    max-width: 100%;
    width: auto;
    height: 100%;
    display: inline;
}


.gridDigital {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 15px;
    grid-column-gap: 10px;
    justify-content: center;
    justify-items: center;
}

.grid3idDigital img {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: inline;
}

.gd1 {
    grid-column: 1/-1;
}

.gd6 {
    grid-column: 1/-1;
}

.gd11 {
    grid-column: 1/-1;
}

.gd16 {
    grid-column: 1/-1;
}

.btngallery {
    grid-column: 2/4;
    margin-bottom: 5rem;
}

/* Second Breakpoint: Small screen view*/
@media only screen and (min-width: 576px) {
    .navbar {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-self: baseline;
    }

    .head {
        display: block;
    }

    .aboutp {
        display: flex;
        justify-items: flex-start;
        text-align: left;
    }



    h1 {
        color: #7c7b7b;
        margin-top: 30;
        font-size: 5.625rem;
        font-weight: 400;
    }

    /* gallery */
    .galleryCategory {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        justify-items: center;
        align-items: center;
    }

    .grid3d {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 15px;
        grid-column-gap: 10px;
        justify-content: center;
    }

    .gd2 {
        grid-column: 1/3;
    }

    .gd3 {
        grid-column: 3/-1;
    }

    .gd4 {
        grid-column: 1/3;
    }

    .gd5 {
        grid-column: 3/-1;
    }

    .gd7 {
        grid-column: 1/3;
    }

    .gd8 {
        grid-column: 3/-1;
    }

    .gd9 {
        grid-column: 1/3;
    }

    .gd10 {
        grid-column: 3/-1;
    }
}


/* Third Breakpoint: Desktop view*/


@media only screen and (min-width: 1025px) {

    .navbar {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-self: baseline;
    }

    .navbar-brand {
        flex-grow: 10;
    }

    .nav-item {
        flex-grow: 5;
    }

    .aboutDisplay {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 30px;
        grid-column-gap: 50px;
        justify-content: center;
        justify-items: center;
    }

    .aboutDisplay h3,
    h4,
    p {
        grid-column: 1/-1;

    }

    .gallerypadding {
        padding: 2rem 2rem;
    }

    .galleryCategory {
        flex-direction: row;
        justify-content: space-evenly;
    }

    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }

    .aboutpadding {
        padding: 50px;
    }

    /* gallery */

    .titlegallery h3 {
        font-size: 3.369rem;

    }

    .gd12 {
        grid-column: 1/3;
    }

    .gd13 {
        grid-column: 3/-1;
    }

    .gd14 {
        grid-column: 1/3;
    }

    .gd15 {
        grid-column: 3/-1;
    }

}

/* for reduced motion */
@media screen and (prefers-reduced-motion: reduce) {
    .animated {
        animation: none;
    }

    .vanishIn {
        animation: none;
    }

    .animatedlogo {
        animation: none;
    }

    .rollIn {
        animation: none;
    }
}